
@{
    ViewBag.Title = "orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Orders</h1>

                </div><!-- /.col -->
                <div class="col-md-5">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>

                </div><!-- /.col -->
                <div class="col">
                    <div class="float-sm-right">
                        <a href="@Url.Action("AddOrders")" data-bs-toggle="tooltip" title="" class="btn btn-primary" data-bs-original-title="Add New" aria-label="Add New"><i class="fas fa-plus"></i></a>
                        <button type="submit" form="form-subscription-plan"
                                formaction="https://demo.opencart.com/admin/index.php?route=catalog/subscription_plan|delete&amp;user_token=4ca83d273fa34bd95748b6ad76b4193a" data-bs-toggle="tooltip" title="" onclick="return confirm('Are you sure?');" class="btn btn-danger" data-bs-original-title="Delete" aria-label="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->

    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-list"></i> &nbsp;Orders Lists</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="OrdersTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="exampleCheck1">
                                            </th>
                                            <th>Order Id</th>
                                            <th>Store</th>
                                            <th col -md- 4>Customers</th>
                                            <th>Status</th>
                                            <th>Total</th>

                                            <th>Date Added</th>
                                            <th>Date Modified</th>
                                            <th style="width: 40px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-filter"></i> Filter</h3>
                        </div>
                        <div class="card-body">
                            <label>Order Id</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Order Id">
                            <br>
                            <label>Customer</label>
                            <input class="form-control" type="text" placeholder="Customer">
                            <br>
                            <div class="form-group">
                                <label>Store</label>
                                <select class="form-control">

                                    <option>Default</option>
                                </select>
                                <br>

                                <div class="form-group">
                                    <label>Order Status</label>
                                    <select class="form-control">
                                        <option>Missing Orders</option>
                                        <option>Chargeback</option>
                                        <option>Comeplete</option>
                                        <option>Pendingk</option>


                                    </select>
                                </div>
                                <br>
                                <label>Total</label>
                                <input class="form-control" type="text" placeholder="Total">
                                <br>
                                <div class="form-group">
                                    <label>Date Added:</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Date Modified:</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>





    </section>
</div>

